@charset "utf-8"

$side-section-width: 240px
$off-white: #ddd
$background-gray: #aaa
$off-gray: #444

body
  width: 960px
  background-color: $background-gray
  font-family: Avenir, Nunito, sans-serif

.contact
  display: inline-block
  width: 220px
  font-weight: 200
  font-size: 14px
  text-align: right
  color: $off-gray

h1
  display: inline-block
  margin: 0 10px 0 20px
  padding: 50px 0 0px 0px
  width: 200px
  color: $off-white
  font-family: Raleway
  font-weight: 100
  font-size: 48px
  letter-spacing: -1px

.subheaders
  display: inline-block
  margin: 5px 0 0 $side-section-width
  width: 720px
  text-align: justify

  .first-subheader
    margin: 0
    font-weight: normal
    font-size: 24px
    text-align: justify
  .first-subheader::after
    content: ""
    display: inline-block
    width: 100%

  .second-subheader
    margin: -35px 0 0 0
    font-size: 18px
    font-weight: normal
    text-align: justify

  .second-subheader::after
    content: ""
    display: inline-block
    width: 100%

.doc
  font-size: 14px
  margin: 0
  margin-top: -30px

.blurb
  margin-left: $side-section-width
  text-align: justify

.competencies, .jobs, .education, .speaking-engagements
  margin-top: 10px

.side-section
  display: inline-block
  width: 220px
  color: $off-white
  vertical-align: top
  text-align: right

.main-section
  display: inline-block
  width: 700px
  margin: 0 10px 0 20px
  text-align: left
  vertical-align: top

  table
    width: 100%
    margin: 0

ul
  padding-left: 20px

.competency
  width: 350px

.quote
  width: 200px
  margin: 10px
  float: right

.actual-quote
  text-align: justify
