$full-page-width: 960px
$side-section-width: 240px
$title-color: #eee
$heading-color: #eee
$background-color: #aaa

body
  background-color: $background-color
  font-family: Avenir, Nunito, sans-serif

ul
  padding-left: 20px

.resume
  width: $full-page-width

h1
  display: inline-block
  width: $full-page-width - $side-section-width
  margin: 0 10px 0 20px
  padding: 50px 0 0px 220px
  color: $title-color
  border-style: solid
  border-width: 0 0 1px 0
  border-color: black
  font-family: Raleway
  font-weight: 100
  font-size: 48px
  letter-spacing: -1px

.contact
  display: inline-block
  float: left
  width: 220px
  margin-top: 10px
  color: $heading-color
  font-weight: 200
  font-size: 14px
  text-align: right

  a
    color: $heading-color

.subheaders
  display: inline-block
  margin: 5px 0 0 20px
  width: 720px
  text-align: justify

  .first-subheader
    margin: 0
    font-weight: bold
    font-size: 22px
    text-align: justify

  .first-subheader::after
    content: ""
    display: inline-block
    width: 100%

  .second-subheader
    margin: -28px 0 0 0
    font-weight: bold
    font-size: 17px
    text-align: justify

  .second-subheader::after
    content: ""
    display: inline-block
    width: 100%

.doc
  font-size: 14px
  margin: 0
  margin-top: -30px

.blurb
  margin-left: $side-section-width
  text-align: justify

.competencies, .jobs, .education, .speaking-engagements
  margin-top: 10px

.side-section
  display: inline-block
  width: 220px
  color: $heading-color
  vertical-align: top
  text-align: right

.main-section
  display: inline-block
  width: 700px
  margin: 0 10px 0 20px
  text-align: left
  vertical-align: top

  table
    width: 100%
    margin: 0

  ul
    margin-top: 0

.competency
  width: 350px

.quote
  width: 200px
  margin: 10px
  margin-right: 0
  float: right

.actual-quote
  text-align: justify

.quote-owner
  font-weight: bold

.position
  color: $heading-color
  font-style: italic

.timeline
  color: $heading-color
  font-style: italic

.company
  font-weight: bold

