.resume
  .header
    %h1
      Jean Miller Truelson

  .contact
    .address
      2546 3rd St. #1
    .city-zip
      San Francisco, CA 94107
    .phone
      415-652-2234
    .linked-in
      = link_to "in/jeankmiller", "http://www.linkedin.com/in/jeankmiller"
    .email
      jean[at]dogpatchtech.com

  .subheaders
    .first-subheader
      Global Communications Leader │ Online Content Development
    .second-subheader
      Communications Initiatives | Marketing Strategy | Global Speaker | Implementation

  .doc
    .overview.page
      %p.blurb
        Communications, marketing, and strategic program/project implementation leader wielding expertise in international and multicultural environments and strong understanding of startup operations, organizational development, and strategic partnerships that drive international business development.
      %p.blurb
        Develop and mobilize online-centric global marketing programs, projects, and tactics with deep knowledge of communications sciences and proven ability to educate and empower internal staff, clients, online communities and government agencies regarding seamless adoption of initiatives.

    .competencies.page
      .side-section
        Core Competencies
      .main-section
        %table
          %tr
            %td.competency • Global Business/Market Development
            %td.competency • Digital Strategy Consultant | Digital Technology
          %tr
            %td.competency • International Organizational Strategy
            %td.competency • Intercultural Communications Management
          %tr
            %td.competency • Public Speaking Expert | Public Relations
            %td.competency • Project/Program Implementation Planning
          %tr
            %td.competency • Web Presence | Social Networking | Content
            %td.competency • Develop Sales and Marketing Programs
          %tr
            %td.competency • Analytics—Competitive, Marketing, Forecasting
            %td.competency • Articulate and Persuasive Communicator

    .jobs.page
      .side-section
        Professional Experience

      .main-section
        .job
          .position
            Co-Founder
          .timeline
            2011 - Present
          .company
            Dogpatch Technology
          .role-explanation
            Founded and led startup operations for a technology startup that builds health-related mobile applications and related products for cancer care givers and patients.
          .role-clarification
            %ul
              %li Collaborate with partners, product researcher, and contracted graphic designer to ideate product design, marketing strategy, and overall brand vision.

        .job
          .quote
            .actual-quote
              %p
                %em
                  “Jean was key to developing and deploying multiple internal tools we used (EMI) to surface digital marketing knowledge and skills despite institutional challenges.
              %p
                %em
                  Jean's extensive qualitative and quantitative research experience was key to her success... her communication skills were critical in managing government, academic, and corporate partners at Linden Lab”
            .quote-owner
              Cory O, VP Mobile Engineering, Facebook

          .position
            Digital Strategy Consultant
          .timeline
            2009 - 2012
          .company
            EMI Music
          .role-explanation
            Provided strategic guidance for global marketing tactics, international organizational strategy, and global development. Developed and executed organization-wide strategy to educate all staff regarding digital marketing, community, and social networking tools.
          .role-clarification
            %ul
              %li Created, managed, and educated on digital management tool for internal benchmarking and strategic development training. Partnered with EMI to architect platform that encompassed all music applications and social media applications. Completed user interface research to determine technology ability of primarily internal clients. Built training and educational tools and built team to galvanize company educational processes.

        .job
          .company
            US India Corridor
          .role-explanation
            Co-developed global digital development programs for this small startup PR consulting firm’s clients, primarily supporting social networking and community development.
          .role-clarification
            %ul
              %li Advised clients on public relations, marketing, social networking, and corporate training programs.

        .job
          .position
            Head of German Market Development
          .timeline
            2007-2009
          .company
            Linden Lab
          .role-explanation
            Collaborated with companies to bring Linden Lab’s 3D online virtual world Second Life into their organizations. Trained to full software realization as trading hub, global training facilitator, etc., generating $90MM in annual revenue. Coordinated online community development and remote team management.
          .role-clarification
            %ul
              %li Executed global acquisition and retention strategy—produced +47% average monthly usage and +26% average monthly revenue in German speaking markets. Led German and English marketing and PR efforts.
              %li Orchestrated business development program to partner with companies in South Korea and Singapore. Teamed with government agencies to establish business operations in Singapore and the UK.
              %li Evangelized projects and developments as press agency partner and representative at online virtual world events, trade exhibitions, conferences, and corporate meetings worldwide.
              %li Adapted marketing collateral, web presence, and trends/competitive research to specific countries.
              %li Managed new and existing educational and enterprise clients while coordinating between Engineering, Product, Community, Enterprise, Education, and Support teams.

        .job
          .position
            International Initiatives Program Manager
          .timeline
            2006-2007
          .company
            Linden Lab
          .role-clarification
            %ul
              %li Consulted executives on international implementation and roll out strategy; and overseas universities, governments, and businesses on internal training, program development, and marketing initiatives for the Second Life platform.
              %li Standardized and managed business development program to target key international communities and establish Brazil as one of the Top 5 largest markets. Additionally, developed strategic partnerships with South Korea and Singapore.
              %li Instituted first international training program sponsored by Singapore government, facilitating establishment of a Singapore office.
              %li Vetted, trained, and mentored staff for high performance in project management, support, quality assurance, localization, and marketing positions.

        .job
          .position
            Project Manager
          .timeline
            2005-2006
          .company
            University of Southern California: Annenburg School for Communication, Center on Public Diplomacy
          .role-clarification
            %ul
              %li Coordinated and executed launch of Reinventing Public Diplomacy Through Games contest.
              %li Managed budgeting and reporting for the Public Diplomacy and Virtual Worlds grant.
              %li Produced research report on Intercultural Collaboration and Interaction in Virtual Environments.

        .job
          .position
            International Operations Specialist
          .timeline
            2002-2003
          .company
            LucasArts, LucasFilm
          .role-explanation
            Managed relationships with international distribution partners Activision, Ubisoft, and EA. Tracked and forecasted sales, distribution, and revenue for 3 price points and 30 titles spanning 22 currencies; including heavy financial analysis and direct management of interpretative functions.
          .role-clarification
            %ul
              %li Facilitated transfer and consolidation of all European accounts to a single partner.
              %li Presented cogent forecasting and sales analyses to senior staff in support of key decision making.

    .education.page

      .side-section
        Education

      .main-section
        %ul.universities
          %li
            %strong London School of Economics and Political Science
            .degree
              %em Master of Science in Global Media and Communications
          %li
            %strong University of S. California, Annenberg School for Communication
            .degree
              %em Master of Arts in Global Communication
          %li
            %strong Georgetown University, District of Columbia
            .degree
              %em Bachelor of Science in Foreign Service—Emphasis: Regional & Comparative Studies of Europe & Asia
              %em Foreign Service Language Proficiency: German

    .speaking-engagements.page

      .side-section
        Speaking Engagemnts
      .main-section
        %ul
          %li
            Panel Speaker,
            %em
              “When Governments Come Out to Play,”
            State of Play Conference, NY, NY USA, June 2009
          %li
            Presenter,
            %em
              “Learning from Educators’ Experiences,”
            Online Educa Berlin Conference, Berlin, Germany, December 2008
          %li
            Presenter,
            %em
              “Recruitment, Collaboration, and Training – New Applications of Virtual Worlds,”
            iTEC08 Conference, Darmstadt, Hessen, Germany, November 2008
          %li
            Panel Speaker,
            %em
              “There’s Life in the Old Dog Yet – Virtual Worlds as Games and Communication Platforms,”
            MedienTage, München, Germany, October 2008
          %li
            Panel Speaker,
            %em
              “Platform Integration Considerations for Enterprise Virtual Worlds,”
            Virtual Worlds London Conference, UK October, 2008
          %li
            Panel Speaker,
            %em
              “Innovating Education Globally,”
            Second Life 5th Birthday – German Education Panel, Second Life, July 2008
          %li
            Presenter,
            %em
              “The Path of our Virtual World,”
            Goli Ameri, US Assistant Secretary of State for Education and Cultural Affairs and staff, San Francisco, CA, USA June 2008
          %li
            Keynote Speaker on
            %em
              “Understanding the Business of Virtual Worlds,”
            Metaverse Conference, Karlsruhe, Germany, May 2008
          %li
            Master of Ceremonies for the Opening of Virtual Africa, Second Life, April 2008
          %li
            Panel Speaker,
            %em
              “Growth and Gaming,”
            Changing Media Summit, London, March 2008
          %li
            Panel Speaker,
            %em
              “Innovating Education,”
            Learning and Knowledge Solutions Roundtable at CeBIT Global Conference, Hannover, March 2008
          %li
            Presenter,
            %em
              “The Future of our World,”
            Law Enforcement Day, Serious Organized Crime Agency, London, March 2008
          %li
            Panel Speaker,
            %em
              “Diplomacy Goes Virtual: Opportunities and Limitations of Virtual Diplomacy,”
            GK3 Event of the Future Conference, Second Life, December 2007
          %li
            Keynote Speaker,
            %em
              “Where We Came from and Where are We Going,”
            Metaverse Conference, München, Germany, November 2007
          %li
            Panel Speaker,
            %em
              “Virtual Worlds – Potential or the Emperor’s New Clothes?”
            Münchener Kreis Konferenz, München, Germany, November 2007
          %li
            Panel Speaker,
            %em
              “Second Life and the Future of the 3D Web,”
            Medienwoche (Media Week) Berlin Brandenburg, Second Life August 2007
          %li
            Presenter,
            %em
              “ROI – Return on Interactivity,”
            Digerati Asia, Singapore, June 2007
          %li
            Panel Speaker,
            %em
              “Virtual Worlds and Education,”
            iCommons iSummit conference, Dubrovnik, Croatia June 2007
          %li
            Panel Speaker,
            %em
              “The Money Trail: How Ad Budgets will be Allocated?”
            International Media Dialogue, Hamburg, Germany June 2007
          %li
            Presenter,
            %em
              “Diplomacy and Culture,”
            Communication, Culture, and Technology at Georgetown University on Washington DC, April 2007
          %li
            Panel Speaker,
            %em
              “The Internet’s Next Generation: Web 3D,”
            Milken Institute Global Conference, Los Angeles, California, USA, April 2007
          %li
            Presenter,
            %em
              “Collaboration and Participation in Second Life,”
            University of Southern California Marshall Business School Los Angeles, California, USA, March 2007
          %li
            Panel Speaker,
            %em
              “Public Diplomacy and Virtual Worlds,”
            on Privatizing Public Diplomacy at the International Studies Association Conference, Chicago, IL USA February 2007
          %li
            Panel Speaker,
            %em
              “Reinventing Public Diplomacy through Games,”
            Games For Change, New York City, NY, USA, October, 2005
